/* neoglyn-cart-drawer.css */
neoglyn-cart-drawer {
  display: flex !important;
  visibility: hidden;
}

neoglyn-cart-drawer.is-active {
  visibility: visible;
  opacity: 1;
}

neoglyn-cart-drawer.is-active > div {
  transform: translateX(0);
}

.cart-drawer-open {
  overflow: hidden;
}
